name: reusable workflow
on: 
  workflow_call:
    inputs:
      build-artifacts:
        description: 'Build artifacts to deploy'
        required: true
        type: string
        default: 'dist'
jobs:
  deploy:
     runs-on: ubuntu-latest
     steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.build-artifacts }}
      - name: Output contents
        run: ls
      - name: Deploy
        run: echo "called from main work flow ...Deploying..."